.pwd-container {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  padding: 8px;
  font-weight: 600;
}
.password-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  position: relative;
  margin-top: 2px;
}
.password-input {
  padding: 10px 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  position: relative;
  outline: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: 1px solid rgb(118, 118, 118);
}
.emoji {
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding: 6px;
  background-color: rgb(209, 209, 209);
  border: 1px solid rgb(118, 118, 118);
  border-left: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}
